@{
  Layout = "_Layout";
}

@using AnimalShelter.Models;
@model List<AnimalShelter.Models.Animal>;

@* <p>@Html.ActionLink("Add Animal", "Create")</p> *@
<br>
<table>
  <tr>
    <th>
        @* @Html.DisplayNameFor(model => model.Name) *@
    </th>
    <th>
        @* @Html.DisplayNameFor(model => model.Type) *@
    </th>
    <th>
        @* @Html.DisplayNameFor(model => model.AdmitDate) *@
    </th>
    <th></th>
  </tr>

@foreach (Animal animal in Model) {
  <tr>
    <td>
        @Html.DisplayFor(modelAnimal => animal.Name)
    </td>
    <td>
        @Html.DisplayFor(modelAnimal => animal.Type)
    </td>
    <td>
        @Html.DisplayFor(modelAnimal => animal.AdmitDate)
    </td>
    <td>
        @Html.ActionLink("Details", "Details", new { id=animal.AnimalId }) |
        @Html.ActionLink("Edit", "Edit", new { id=animal.AnimalId }) |
        @Html.ActionLink("Delete Item", "Delete", new { id = animal.AnimalId })
    </td>
  </tr>
}
@if (@Model.Count == 0)
{
  <h3>Everyone has a home!</h3>
}


